/* p.error{
    color: red;
}
p.succses{
    color: #4fdb4f;
}
p.succses.fedback{
    border: 1px dashed #4fdb4f;
}
#content{
    background-color: #ebebeb;
    padding: 20px;
} */
/* div .error{
    color: purple;
} */
/* a[href]{
    background-color: #3dd13d;
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
} */
div{
    color:lightcoral;
    border:1px solid grey;
    margin:40px;
    font-weight:bold;
}
div p{
    border: inherit;
    margin:inherit;
    color:crimson;
}
p{
    color:orange;
}